{% comment %} Assign object as block or section {% endcomment %}
{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

<script type="application/pxs-animation-mapping+json">
  {
    "blocks": [".subcollections-grid__item"],
    "elements": [
      ".subcollections-grid__item-image"
    ]
  }
</script>

{% assign hasNoSubcategories = false %}
{% assign hasSubcategories = false %}
{% for link in linklists[collection.handle].links %}
  {% if link.levels == 0 %}
    {% assign hasNoSubcategories = true %}
  {% elsif link.levels != 0 %}
    {% assign hasSubcategories = true %}
  {% endif %}
{% endfor %}

{% if hasSubcategories or layout_type == 'grid' or layout_type == 'slideshow' or onboard %}

  <carousel-slider class="carousel block" inactive>
    <div class="container">
      <div class="slider" id="slider-{{ section.id }}"> 

          <div class="container">
            <ul class="{% if carousel %}slider__grid {% endif %}grid {{ grid_classes }} gap-x-theme gap-y-10" role="list">
                {% if onboard %}
                  {% for i in (1..6) %}
                    {%
                      render 'subcollections-grid-list-item',
                      onboard: onboard,
                      collection: collection,
                      link: false
                    %}
                  {% endfor %}
                {% else %}
                  {% for link in linklists[collection.handle].links %}
                    {%
                      render 'subcollections-grid-list-item',
                      onboard: onboard,
                      collection: collection,
                      link: link,
                      show_product_count: object.settings.show_product_count,
                      type: 'block',
                      block: block
                    %}
                  {% endfor %}
                {% endif %}
            </ul>
          </div>

      </div>
    </div>
  </carousel-slider>
{% endif %}