{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% assign collection_title = 'onboarding.collection.title' | t %}

{% unless onboard %}
  {% assign current_collection = link.object %}

  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% assign collection_title = current_collection.title %}

  {% assign current_collection = link.object %}
  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% if current_collection.image and object.settings.thumbnail_image == 'collection-image' %}
    {% assign collection_image = current_collection.image %}
  {% else %}
    {% assign collection_image = current_collection.products.first.featured_media.preview_image %}
  {% endif %}
{% endunless %}

{%- liquid
  unless collection == empty
    assign first_product_image = collection.all_products.first.featured_media.preview_image
    if image == blank and use_product_image and first_product_image
      assign image = first_product_image
    elsif image == blank and collection.featured_image
      assign image = collection.featured_image
    endif
  endunless

  if image_ratio == nil
    if section.settings.card_image_ratio == 'shortest' or section.settings.card_image_ratio == 'tallest' or section.settings.card_image_ratio == 'circle' or circle_image
      assign image_ratio = 1
    else
      assign image_ratio = section.settings.card_image_ratio
    endif
  elsif image_ratio == 0 or image_ratio == 99
    assign image_ratio = 1
  endif

  unless circle_image
    if settings.coll_card_image_ratio == 'circle'
      assign circle_image = true
    endif
  endunless

  unless show_border == false
    assign show_border = true
  endunless

-%}

<li class="slider__item">
  <div clas="card hover:grow-media relative flex flex-col card__collection card__collection--with-border">
    <div class="card__media relative card__media--circle">
      
      {% render 'collection-card',
        collection: block.settings.collection,
        image: current_collection.use_product_image,
        image_ratio: image_ratio,
        circle_image: circle_image,
        show_border: section.settings.show_border
      %}

      <a href="{{ current_collection.url }}" class="media block relative">
          {{ collection_title }} ({{ current_collection.all_products_count }})
      </a>

    </div>
  </div>
</li>