{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% unless onboard %}
  {% assign current_collection = link.object %}

  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% assign collection_title = current_collection.title %}

  {% assign current_collection = link.object %}
  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% if current_collection.image and object.settings.thumbnail_image == 'collection-image' %}
    {% assign collection_image = current_collection.image %}
  {% else %}
    {% assign collection_image = current_collection.products.first.featured_media.image %}
  {% endif %}

  {% assign collection_title = current_collection.title %}
{% endunless %}

{%- liquid
  unless collection == empty
    assign first_product_image = collection.all_products.first.featured_media.preview_image
    if image == blank and use_product_image and first_product_image
      assign image = first_product_image
    elsif image == blank and collection.featured_image
      assign image = collection.featured_image
    endif
  endunless

  if image_ratio == nil
    if section.settings.card_image_ratio == 'shortest' or section.settings.card_image_ratio == 'tallest' or section.settings.card_image_ratio == 'circle' or circle_image
      assign image_ratio = 1
    else
      assign image_ratio = section.settings.card_image_ratio
    endif
  elsif image_ratio == 0 or image_ratio == 99
    assign image_ratio = 1
  endif

  unless circle_image
    if settings.coll_card_image_ratio == 'circle'
      assign circle_image = true
    endif
  endunless

  unless show_border == false
    assign show_border = true
  endunless
-%}

{% assign class = 'img-fit' %}

<li class="slider__item">
      <div class="card hover:grow-media relative flex flex-col card__collection card__collection--with-border">
          <div class="card__media relative card__media--circle">
          
            <a href="{{ current_collection.url }}" aria-label= "{{ collection_title }}" class="media block relative{% if settings.blend_collection_images %} image-blend{% endif %}" tabindex="-1" style="padding-top: {{ 1 | divided_by: image_ratio | times: 100 }}%;">
              {% render 'image',
                image: collection_image,
                widths: '320, 460, 600, 700, 800, 900, 1200',
                src_width: 460,
                sizes: sizes,
                class: class,
                disable_focal_point: true
                image_ratio: image_ratio,
                circle_image: circle_image,
                use_product_image: section.settings.use_product_image,
                show_border: section.settings.show_border
              %}
            </a>

        </div>
        <div class="card__info relative text-center">
          <div class="card__title h6 mb-2 last:mb-0">
            <a href="{{ current_collection.url }}">
              {{ collection_title }}
            </a>
          </div>
        </div>

      </div>
</li>