{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% unless onboard %}
  {% assign current_collection = link.object %}

  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% assign collection_title = current_collection.title %}

  {% assign current_collection = link.object %}
  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% if current_collection.image and object.settings.thumbnail_image == 'collection-image' %}
    {% assign collection_image = current_collection.image %}
  {% else %}
    {% assign collection_image = current_collection.products.first.featured_media.image %}
  {% endif %}
{% endunless %}



<li class="slider__item">
  <div clas="card hover:grow-media relative flex flex-col card__collection card__collection--with-border">
    <div class="card__media relative card__media--circle">
      
      {% render 'collection-card',
        collection: block.settings.collection,
        image: collection_image,
        image_ratio: image_ratio,
        circle_image: circle_image,
        show_border: section.settings.show_border,
        collectio_title: current_collection.title
      %}

      <a href="{{ current_collection.url }}" class="media block relative">
          {{ collection_title }} ({{ current_collection.all_products_count }})
      </a>

    </div>
  </div>
</li>