<carousel-slider class="carousel block" style="padding: 10px 0;">
    <div class="container">
      <div class="slider"> 
          <div class="container">
            <ul class="slider__grid grid grid-flow-col auto-cols-2 sm:auto-cols-3 md:auto-cols-4 lg:auto-cols-5 xl:auto-cols-6 gap-x-theme gap-y-10">
                {% if onboard %}
                  {% for i in (1..6) %}
                    {%
                      render 'subcollections-grid-list-item',
                      onboard: onboard,
                      collection: collection,
                      link: false
                    %}
                  {% endfor %}
                {% else %}
                  {% for link in linklists[collection.handle].links %}
                    {%
                      render 'subcollections-grid-list-item',
                      onboard: onboard,
                      collection: collection,
                      link: link,
                      show_product_count: object.settings.show_product_count,
                      type: 'block',
                      block: block
                    %}
                  {% endfor %}
                {% endif %}
            </ul>
          </div>

          <div class="slider-nav slide-nav--inline justify-between items-center absolute top-0 h-full {% if settings.slider_show_arrows == 'hover' %}slider-nav--show-on-hover no-hover-hidden {% endif %}hidden md:flex no-js-hidden">
            <button type="button" class="slider-nav__btn tap-target tap-target--left btn has-ltr-icon" name="prev" aria-controls="slider-{{ section.id }}">
              <span class="visually-hidden">{{ 'general.slider.previous' | t }}</span>
              {% render 'icon-chevron-left' %}
            </button>
            <button type="button" class="slider-nav__btn tap-target tap-target--right btn has-ltr-icon" name="next" aria-controls="slider-{{ section.id }}">
              <span class="visually-hidden">{{ 'general.slider.next' | t }}</span>
              {% render 'icon-chevron-right' %}
            </button>
          </div>

      </div>
    </div>
  </carousel-slider>