{% if type == 'block' %}
  {%- assign object = block -%}
{% else %}
  {%- assign object = section -%}
{% endif %}

{% assign collection_title = 'onboarding.collection.title' | t %}

{% unless onboard %}
  {% assign current_collection = link.object %}

  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% assign collection_title = current_collection.title %}

  {% assign current_collection = link.object %}
  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% if current_collection.image and object.settings.thumbnail_image == 'collection-image' %}
    {% assign collection_image = current_collection.image %}
  {% else %}
    {% assign collection_image = current_collection.products.first.featured_media.preview_image %}
  {% endif %}
{% endunless %}

<li class="slider__item">
  <div clas="card hover:grow-media relative flex flex-col card__collection card__collection--with-border">
    <div class="card__media relative card__media--circle">
      
      {% render 'image',
        image: collection.image,
        widths: '320, 460, 600, 700, 800, 900, 1200',
        src_width: 460,
        src_placeholder: true,
        sizes: sizes,
        class: class,
        disable_focal_point: true
      %}

      <a href="{{ current_collection.url }}" class="media block relative">
          {{ collection_title }} {% if show_product_count %}({{ current_collection.all_products_count }}) {% endif %}
      </a>

    </div>
  </div>
</li>