{% assign collection_title = 'onboarding.collection.title' | t %}

{% unless onboard %}
  {% assign current_collection = link.object %}

  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

  {% assign collection_title = current_collection.title %}

  {% assign current_collection = link.object %}
  {% if current_collection == blank %}
    {% continue %}
  {% endif %}

{% endunless %}

<li class="slider__item">
  <a href="{{ current_collection.url }}">
    <span class="subcollections-grid__item-info subcollections-grid__item-title">
      {{ collection_title }} {% if show_product_count %}({{ current_collection.all_products_count }}) {% endif %}
    </span>
  </a>
</li>