.collection-banner__content.color-scheme {
  padding: var(--gutter-sm, 20px);
}
.collection-banner__content.color-scheme h1 {
  padding-top: calc(4 * var(--space-unit));
}

.collection-banner__media {
  order: 2;
}

.collection-banner__heading {
  margin-inline-end: 5px;
}

.collection-banner__count {
  color: rgba(var(--heading-color)/0.6);
  font-size: 1.4rem;
  line-height: 1.4rem;
  white-space: nowrap;
}

@media (min-width: 600px) {
  .collection-banner__content--with-media {
    padding-inline-end: calc(8 * var(--space-unit));
  }
  .collection-banner__content.color-scheme {
    padding: calc(10 * var(--space-unit));
  }
  .collection-banner__content.color-scheme h1 {
    padding-top: calc(2 * var(--space-unit));
  }
}
@media (min-width: 769px) {
  .collection-banner__content {
    width: 50%;
    min-width: 400px;
  }
  .collection-banner__content-wide {
    width: 66%;
  }
}

/* Millstore styles */
.collection-description {
  max-width: 100%;
  line-height: normal;
}

.read-more-collection:hover {
cursor:pointer
}

.danneggiate {
margin-top: 5px;
padding: 10px;
text-align: center;
font-size: medium;
border-radius: 10px;
border: 2px solid #6F4F65;
margin-bottom: 10px;
}

.plant-icon-banner img {
display: inline-block;
margin: 0 10px;
}

.plant-icon-banner span {
font-size: 1.1em;
vertical-align: middle;
}